header, section, footer, aside, nav, main, article, figure{

    display: block;
    
    }
    
    
    .contenedorFlex{
    
    display: flex;
    
    flex-flow: column-reverse wrap;
    
    justify-content: flex-start;

    background: #F6EBC6;

    height: 400px;
    
    }
    
    
    p{
    
    max-width: 15%;
    
    border: 1px solid gray;
    
    }